<div class="center jumbotron">
	<h1>Welcome to the sample app</h1>
	<h2> This is the home page. Click <a href="https://google.com">here</a> to search anything</h2>
	<%= link_to "Sign up now!",signup_path,class:"btn btn-lg btn-primary" %>
</div> 
<%= link_to image_tag("rails.png", alt:"Rails logo"), 'http://google.com' %>
